<%= Gon::Base.render_data %>
<div class="flex justify-center">
  <div class='p-5 absolute top-16 z-50 bg-white w-2/3 shadow-lg rounded-lg overflow-hidden'>
    <div class='radar-chart-area'>
      <canvas id='chartRadar'></canvas>
    </div>
    <div class='calculation-item-area border-t border-gray-200 mt-3 pt-2 flex justify-center'>
      <% if rank == '1' %>
        <p class="text-center text-sm lg:text-xl py-5">お金がなくても今すぐ買いましょう！</p>
      <% elsif rank == '2' %> 
        <p class="text-center text-sm lg:text-xl py-5">一番欲しいものに負けないくらい欲しいものなら、これも買っちゃいなよ！</p>
      <% elsif rank == '3' %>
        <p class="text-center text-sm lg:text-xl py-5">衝動買いするのは待って！<br>もう少し考えてみましょう。</p>
      <% else %>
        <p class="text-center text-sm lg:text-xl py-5">お金ないんだろ？<br>今買うんじゃないよwww</p>
      <% end %>
    </div>
    <div class='twitter-button'>
      <%= link_to "https://twitter.com/intent/tweet?url=https://hoshime.herokuapp.com&text=HoshiMeに欲しいモノを投稿しました。&hashtags=HoshiMe,欲しいモノ,ランキング,お金,無駄&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer'  do %>
        <span><i class="fab fa-twitter"></i>Twitterでシェアする</span>
      <% end %>
    </div>
    <div class="pt-2 flex justify-center" id="modal-close">
      <button class="cursor-pointer bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-5 rounded">
        閉じる
      </button>
    </div>
  </div>
</div>

<!-- Chart radar -->
<script>
  var dataRadar = {
    labels: [
      "いつから欲しい？",
      "欲しい度",
      "いつまでに欲しい？",
      "値段",
    ],
    datasets: [
      {
        label: gon.calculation_name,
        data: [
          gon.calculation.start_value,
          gon.calculation.degree_value,
          gon.calculation.finish_value,
          gon.calculation.price_value
        ],
        fill: true,
        backgroundColor: "rgba(255,215,0, 0.2)",
        borderColor: "rgb(255,165,0)",
        pointBackgroundColor: "rgb(255,215,0)",
        pointBorderColor: "#fff",
        pointHoverBackgroundColor: "#fff",
        pointHoverBorderColor: "rgb(255,215,0)",
      }
    ],
  };

  var configRadarChart = {
    type: "radar",
    data: dataRadar,
    options: {
      title: {
        display: true,
        text: gon.calculation_name,
        fontSize: 50,
        fontColor: '#000'
      },
      scale: {
        ticks: {
          suggestedMin: 0,
          suggestedMax: 10,
          stepSize: 2,
          fontSize: 20,
          fontColor: '#000'
        },
        pointLabels: {
          fontSize: 20,
          fontColor: '#000'
        }
      },
      legend: {
        display: false
      }
    }
  };

  var chartBar = new Chart(
    document.getElementById("chartRadar"),
    configRadarChart
  );
</script>
