<% content_for(:title, t('.title')) %>

<%= Gon::Base.render_data %>
<div class="flex justify-center pt-4">
  <div class='absolute top-1/5 z-50 bg-white w-full shadow-lg rounded-lg overflow-hidden'>
    <div class='radar-chart-area'>
      <p class="text-center pr-2 text-lg pt-4"><%= @calculation.item.name %></p>
      <canvas class="chartjs-render-monitor pl-2" id="chartRadar" style="display: block; height: 900px; width: 1050px;"></canvas>
    </div>
    <div class='calculation-item-area border-t border-gray-200 mt-3 pt-2 flex justify-center'>
      <% if @rank == '1' %>
        <p class="text-center text-xs py-5 pl-2">お金がなくても今すぐ買いましょう！</p>
      <% elsif @rank == '2' %> 
        <p class="text-center text-xs py-5">一番欲しいものに負けないくらい欲しいものなら、<br>これも買っちゃいなよ！</p>
      <% elsif @rank == '3' %>
        <p class="text-center text-xs py-5">衝動買いするのは待って！<br>もう少し考えてみましょう。</p>
      <% else %>
        <p class="text-center text-xs py-5">お金ないんだろ？<br>今買うんじゃないよwww</p>
      <% end %>
    </div>
    <div class="m-3 flex justify-center">
      <%= button_to t('.close'), calculations_path, method: :get, class: "cursor-pointer bg-yellow-500 hover:bg-yellow-700 text-white text-xs font-bold py-2 px-3.5 rounded" %>
    </div>
  </div>
</div>

<!-- Chart radar -->
<script>
  var dataRadar = {
    labels: [
      "いつから欲しい？",
      "欲しい度",
      "いつまでに欲しい？",
      "値段",
    ],
    datasets: [
      {
        data: [
          gon.calculation.start_value,
          gon.calculation.degree_value,
          gon.calculation.finish_value,
          gon.calculation.price_value
        ],
        fill: true,
        backgroundColor: "rgba(255,215,0, 0.2)",
        borderColor: "rgb(255,165,0)",
        pointBackgroundColor: "rgb(255,215,0)",
        pointBorderColor: "#fff",
        pointHoverBackgroundColor: "#fff",
        pointHoverBorderColor: "rgb(255,215,0)",
      }
    ],
  };

  var configRadarChart = {
    type: "radar",
    data: dataRadar,
    options: {
      scale: {
        ticks: {
          suggestedMin: 0,
          suggestedMax: 10,
          stepSize: 2,
          fontSize: 10,
          fontColor: '#000'
        },
        pointLabels: {
          fontSize: 12,
          fontColor: '#000'
        }
      },
      legend: {
        display: false
      }
    }
  };

  var chartBar = new Chart(
    document.getElementById("chartRadar"),
    configRadarChart
  );
</script>
