<header class="sticky top-0 z-50">
  <div class="header">
    <nav class="bg-yellow-400 py-2">
      <div class="container px-4 mx-auto md:items-center">
        <div class="flex justify-between">
          <%= link_to "Hoshime", root_path, class: "font-bold text-xl text-yellow-100" %>
          <div class="pt-1">
            <%= link_to (t 'defaults.login'), login_path, class: "text-sm text-yellow-100 text-center border border-transparent hover:bg-yellow-100 hover:text-yellow-700 transition-colors duration-300" %>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
