<footer>
  <div class="bg-yellow-400 text-yellow-50 text-xs lg:text-md pt-2">
    <div class="max-w-screen-lg px-4 sm:px-6 sm:grid md:grid-cols-3 sm:grid-cols-1 mx-auto">
      <div class="p-0 lg:p-1 mx-7 lg:mx-10 text-center">
        <%= link_to "利用規約", "#" %>
      </div>
      <div class="p-0 lg:p-1 mx-7 lg:mx-10 text-center">
        <%= link_to "プライバリシーポリシー", "#" %>
      </div>
      <div class="p-0 lg:p-1 mx-7 lg:mx-10 text-center">
        <%= link_to "お問い合わせ", "#" %>
      </div>
    </div>
    <div class="p-0 lg:p-1">
      <div class="flex px-3 m-auto flex-col max-w-screen-lg items-center">
        <div class="mb-1 lg:my-2">© Copyright 2022. All Rights Reserved.</div>
      </div>
    </div>
  </div>
</footer>
