<section class="antialiased bg-yellow-50 text-gray-600 h-screen">
  <h1 class="flex justify-center py-8 text-xl lg:text-4xl font-semibold">欲しいものリスト一覧</h1>
  <div class="flex flex-col justify-center">
    <!-- Table -->
    <div class="w-11/12 lg:w-5/6 mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
      <header class="px-5 py-4 border-b border-gray-100">
          <h2 class="font-semibold text-center text-xl text-gray-500">欲しいものリスト</h2>
      </header>
      <div class="p-3 overflow-y-auto h-96">
        <div class="overflow-x-auto">
          <table class="table-auto w-full">
            <thead class="text-xs lg:text-lg font-semibold uppercase text-gray-400 bg-gray-50">
              <tr>
                <th class="p-2 whitespace-nowrap">
                    <div class="font-semibold text-left">欲しいもの</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                    <div class="font-semibold text-center">欲しい度</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                    <div class="font-semibold text-center">いつから欲しい？</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                    <div class="font-semibold text-center">いつまでに欲しい？</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                    <div class="font-semibold text-center">値段</div>
                </th>
                <th class="p-2 whitespace-nowrap"></th>
                <th class="p-2 whitespace-nowrap"></th>
              </tr>
            </thead>
            <tbody class="text-xs lg:text-md divide-y divide-gray-100">
              <%= render @items %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center grid grid-col-1 py-5">
    <div class="flex justify-center py-7">
      <%= button_to "欲しいものを追加する", new_item_path, method: :get, class: "cursor-pointer font-semibold text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
    </div>
  </div>
</section>
